
@{
    ViewBag.Title = "Index";
}

<style>
    .userinfo-container {
        height: 150px;
        background: url("/Images/usercenter-banner.jpg") no-repeat;
        background-size: 100% 100%;
    }

    .userinfo-head {
        width: 120px;
        height: 120px;
        margin: 15px 0;
        border-radius: 50%;
        border: 3px solid whitesmoke;
    }

    .userinfo-name {
        line-height: 120px;
    }
</style>

<div class="row">
    <div class="col-md-12" style="position:relative;">
        <div class="userinfo-container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <img class="userinfo-head" src="~/Images/default-user-head.jpg" alt="Alternate Text" />
                </div>
                <div class="col-md-6">
                    <h4 class="userinfo-name">@Session["UserDisplayName"]</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:15px;">   
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li>@Ajax.ActionLink("个人中心", "UserInfoPartial", new AjaxOptions { UpdateTargetId = "partial-container", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</li>
            <li>@Ajax.ActionLink("账户充值", "UserCharge", new AjaxOptions { UpdateTargetId = "partial-container", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</li>
            <li>@Ajax.ActionLink("修改密码", "UserChangePasswordPartial", new AjaxOptions { UpdateTargetId = "partial-container", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</li>
            <li>@Ajax.ActionLink("我的收藏", "UserCollectionPartial", new AjaxOptions { UpdateTargetId = "partial-container", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</li>
            <li>@Ajax.ActionLink("我的购物车", "UserShopCart", new AjaxOptions { UpdateTargetId = "partial-container", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</li>
            <li>@Ajax.ActionLink("我购买的菜谱", "UserCookBookBuyed", new AjaxOptions { UpdateTargetId = "partial-container", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</li>
            <li>@Ajax.ActionLink("我的文章", "UserArticlePartial", new AjaxOptions { UpdateTargetId = "partial-container", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</li>
            <li>@Html.ActionLink("退出","Logout","Account")</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="partial-container">
                    欢迎来到个人中心！
                </div>
            </div>
        </div>
    </div>
</div>
